
# Just setting this will set the docker compose project prefix
COMPOSE_PROJECT_NAME=osgisstack

# POSTGREST
PGRST_SERVER_PROXY_URI=https://castelo.kartoza.com/api
PGRST_DB_ANON_ROLE=anon
PGRST_DB_SCHEMA=api
PGRST_OPENAPI_SERVER_PROXY_URI=https://castelo.kartoza.com/api
PGRST_SERVER_PORT=3000
# Generate using ssl e.g. 
# openssl rand -base64 32
PGRST_JWT_SECRET=foobarxxxyyyzzz
# SWAGGER
API_URL=https://castelo.kartoza.com/api/
# POSTGRES
POSTGRES_USER=docker
POSTGRES_PASSWORD=docker
# GEOSERVER
GEOSERVER_ADMIN_PASSWORD=myawesomegeoserver
GEOSERVER_ADMIN_USER=admin
INITIAL_MEMORY=2G
MAXIMUM_MEMORY=4G
# MERGIN DB SYNC
# Typically your emaiil
MERGIN_USER=youruser
MERGIN_PASSWORD=yourpassword
# Should be username/project name
MERGIN_PROJECT_NAME=youruser/yourproject
# Should be a geopackage in your mergin project
MERGIN_SYNC_FILE=yourgeopackage.gpkg 
DB_SCHEMA_MODIFIED=schematoreceivemergindata
DB_SCHEMA_BASE=mergin_sync_base_do_not_touch

#
# Superset related configs
#

#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#


# database configurations (do not modify)
DATABASE_DB=superset
DATABASE_HOST=db
DATABASE_PASSWORD=docker
DATABASE_USER=docker

# database engine specific environment variables
# change the below if you prefers another database engine
DATABASE_PORT=5432
DATABASE_DIALECT=postgresql
POSTGRES_DB=superset
POSTGRES_USER=docker
POSTGRES_PASSWORD=docker

# Add the mapped in /app/pythonpath_docker which allows devs to override stuff
PYTHONPATH=/app/pythonpath:/app/docker/pythonpath_dev
REDIS_HOST=redis
REDIS_PORT=6379

FLASK_ENV=production
SUPERSET_ENV=production
SUPERSET_LOAD_EXAMPLES=no
CYPRESS_CONFIG=false
SUPERSET_PORT=8088
