.env
certbot/certbot
postgis_data/
mergin_sync_data/
*.pbf
osm_conf/last.state.txt
osm_conf/importer.lock
osm_conf/timestamp.txt
geoserver_data/
mapproxy_conf/cache_data
*.swp
smallholding-database.dmp
odm_datasets/*
odm_cutline/cutline.*
.DS_Store
orthophoto.tif.points
vector-tile-bright-style.json
superset/
redis/