.env
certbot/certbot
postgis_data/
mergin_sync_data/
*.pbf
osm_conf/last.state.txt
osm_conf/importer.lock
osm_conf/timestamp.txt
geoserver_data/
mapproxy_conf/cache_data
*.swp
smallholding-database.dmp
odm_datasets/*
odm_cutline/cutline.*
.DS_Store
orthophoto.tif.points
vector-tile-bright-style.json
superset/
redis/
.vscode
scp_conf/general_data
scp_conf/geoserver_data
scp_conf/hugo_data
scp_conf/odm_data
scp_conf/qgis_fonts
scp_conf/qgis_projects
scp_conf/qgis_svg
pg_conf/pg_service.conf
nginx_certbot_init_conf/nginx.conf
nginx_conf/nginx.conf
init-letsencrypt.sh
setup.sql
mapproxy_conf/mapproxy.yaml
# Todo investigate and fix file extension naming inconsistency
mapproxy_conf/seed.yml

