.env
certbot/certbot
postgis_data/
mergin_sync_data/
*.pbf
conf/osm_conf/clip.geojson
conf/osm_conf/last.state.txt
conf/osm_conf/timestamp.txt
conf/osm_conf/importer.lock
geoserver_data/
mapproxy_conf/cache_data
*.swp
smallholding-database.dmp
odm_datasets/*
odm_cutline/cutline.*
.DS_Store
orthophoto.tif.points
vector-tile-bright-style.json
superset/
redis/
.vscode
conf/scp_conf/general_data
conf/scp_conf/geoserver_data
conf/scp_conf/hugo_data
conf/scp_conf/odm_data
conf/scp_conf/qgis_fonts
conf/scp_conf/qgis_projects
conf/scp_conf/qgis_svg
pg_conf/pg_service.conf
nginx_certbot_init_conf/nginx.conf
nginx_conf/ssl/ssl.conf
nginx_conf/servername.conf
init-letsencrypt.sh
setup.sql
conf/mapproxy_conf/mapproxy.yaml
# Todo investigate and fix file extension naming inconsistency
conf/mapproxy_conf/seed.yml
pbf_fetcher/Dockerfile
.env-geonode
osm_conf/clip.geojson
*.code-workspace
hugo.exe
site_data/config.yaml
site_data/*.cmd
site_data/public/
conf/mapproxy_conf/clip/*
conf/mapproxy_conf/seed.yaml
conf/nginx_conf/htpasswd
docs/build
nginx_conf/locations/hugo.conf
hugo_conf/config.yaml
sphinx/build
conf/nginx_conf/locations/*.conf
fonts
conf/hugo_conf/config.yaml
conf/nginx_conf/htpasswd
conf/nginx_conf/servername.conf
conf/nginx_conf/ssl/*.conf
docs/.doctrees/
sphinx/source/_build/
conf/nginx_conf/upstreams/*.conf
enabled-profiles
