{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {},
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -7.485466003417969,
              39.35168857740785
            ],
            [
              -7.336292266845703,
              39.35168857740785
            ],
            [
              -7.336292266845703,
              39.44427988881966
            ],
            [
              -7.485466003417969,
              39.44427988881966
            ],
            [
              -7.485466003417969,
              39.35168857740785
            ]
          ]
        ]
      }
    }
  ]
}
