{{- $s := .Site.Params }}
{{- $p := .Params }}
<!DOCTYPE html>
<html lang="{{ .Lang }}" data-figures="{{ $p.figurePositionShow }}"{{ if .IsPage }} class="page"{{ end }}{{ if .IsHome }} class="home"{{ end }}{{ with $s.enforceLightMode }} data-mode="lit"{{ end }}{{ with $s.enforceDarkMode }} data-mode="dim"{{ end }}>
  <head>
    {{- partial "head" . }}
    <!-- styles definition-->
    {{- $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" "true") -}}
    {{ $mainSassFile :=  "sass/main.sass" }}
    {{- $styles := resources.Get $mainSassFile | resources.ExecuteAsTemplate $mainSassFile . | resources.ToCSS $options | resources.Fingerprint "sha512" }}

    <!-- scripts definition -->
    {{- $highlightPath := "js/highlight.js" }}
    {{- $highlight := resources.Get $highlightPath | resources.ExecuteAsTemplate $highlightPath . }}

    {{- $functionsScriptPath := "js/functions.js" }}
    {{- $functions := resources.Get $functionsScriptPath | resources.ExecuteAsTemplate $functionsScriptPath . }}

    {{- $codeScriptPath := "js/code.js" }}
    {{- $code := resources.Get $codeScriptPath | resources.ExecuteAsTemplate $codeScriptPath . }}

    {{- $customScriptPath := "js/custom.js" }}
    {{ if (fileExists "../../assets/js/custom.js") }}
      {{ $customScriptPath := "../../assets/js/custom.js" }}
    {{ end }}
    {{- $custom := resources.Get $customScriptPath | resources.ExecuteAsTemplate $customScriptPath . }}

    {{- $mainScriptPath := "js/index.js" }}
    {{- $main := resources.Get $mainScriptPath | resources.ExecuteAsTemplate $mainScriptPath . }}

    {{- $bundle := slice $highlight $functions $code $main $custom | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint "sha512" -}}
    


<!-- JS Dont think we need this? -->
<script type="application/javascript" src="/js/main.js"></script>

<!-- OpenLayers -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>

<!-- <script type="application/javascript" src="/js/ol/ol-layerswitcher.js"></script> -->
<script src="https://unpkg.com/ol-layerswitcher@3.8.3"></script>

<!-- Added by Tim -->
<script>
    
    // openlayers map
    document.addEventListener('DOMContentLoaded', () => {

        var mousePositionControl = new ol.control.MousePosition({
            coordinateFormat: ol.coordinate.createStringXY(4),
            projection: 'EPSG:4326',
            // comment the following two lines to have the mouse position
            // be placed within the map.
            className: 'custom-mouse-position',
            target: document.getElementById('cursor-position'),
            undefinedHTML: '{{ htmlUnescape "&nbsp;" }}',
        });
        
        var layerSwitcher = new ol.control.LayerSwitcher()
        
        // document.getElementById('cursor-position').textContent = '&nbsp;'
        // document.getElementById('cursor-position').textContent = '\u00A0'
        
        // hugo delimit not working for unknown reasons
        {{/* $layers := delimit (slice .Params.Layers) "," */}}
        
        var map_layers = {{ .Params.Layers }}
        
        if (map_layers) {
          map_layers = map_layers.join(",")
        }
        
        var wmsSource =  new ol.source.TileWMS({
        	    url: "{{ .Params.WMS }}",
        			transition: 1,
        			params: {
        				'LAYERS': map_layers,
        				'TILED': true
        		  },
        	  })
        
        var view = new ol.View({
          center: ol.proj.fromLonLat([{{ .Params.Long | default "2" }}, {{ .Params.Lat | default "25" }}]),
          zoom: {{ .Params.Zoom | default "3" }}
        })
        
        var map = new ol.Map({
          controls: ol.control.defaults().extend([
            mousePositionControl,
            layerSwitcher,
            new ol.control.FullScreen()
          ]),
          target: 'pagemap',
          layers: [
            new ol.layer.Tile({
              title: 'Open Street Map',
              source: new ol.source.OSM()
            }),
            {{ if .Params.Layers }}
            new ol.layer.Tile ({
              title: 'WMS Layers',
              source:wmsSource
            })
            {{ end }}
          ],
          view: view
        });
        
        map.on('singleclick', function (evt) {
          document.getElementById('map-info').innerHTML = ''
          // var viewResolution = /** @type {number} */ (view.getResolution())
          var viewResolution = view.getResolution();
        
          var url = wmsSource.getFeatureInfoUrl(
            evt.coordinate,
            viewResolution,
            'EPSG:3857',
            {'INFO_FORMAT': 'text/html'}
          );
        
          if (url) {
            fetch(url)
              .then(function (response) { return response.text(); })
              .then(function (html) {
                document.getElementById('map-info-title').style.display = 'block'
                document.getElementById('map-info').innerHTML = html
              });
          }
        });
    
    function setBounds(evt) {
      var map = evt.map
      var extent = map.getView().calculateExtent(map.getSize())
      extent = ol.proj.transformExtent(extent, 'EPSG:3857', 'EPSG:4326')
      document.getElementById('mapbounds-north').textContent =  extent[0].toFixed(4)
      document.getElementById('mapbounds-east').textContent = extent[2].toFixed(4)
      document.getElementById('mapbounds-south').textContent = extent[1].toFixed(4)
      document.getElementById('mapbounds-west').textContent = extent[3].toFixed(4)
    }
    
    map.addControl(layerSwitcher)
    
    map.on('moveend', setBounds)

    }); //domevent listener
</script>
<!-- End added by Tim -->


    

    <!-- preload assets declaration -->
    <link rel="preload" href="{{ $styles.Permalink }}" integrity = "{{ $styles.Data.Integrity }}" as="style" crossorigin="anonymous">
    <link rel="preload" href="{{ $bundle.Permalink }}" as="script" integrity=
    "{{ $bundle.Data.Integrity }}" crossorigin="anonymous">

    <!-- styles file -->
    <link rel="stylesheet" type="text/css" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous">
    
    <!-- Added by Tim -->
    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@3.8.3/dist/ol-layerswitcher.css" />
    
    <style type="text/css" media="screen">
      #navbar {
        /* Fix leaflet rendering over nav */
        z-index: 9999;
      }
      #map-info {
        overflow: auto;
      }
      .ol-control.layer-switcher {
        margin-top: -42px
      }
      .ol-control.layer-switcher button {
        padding: 18px
      }
      .map:-webkit-full-screen {
        height: 100%;
        margin: 0;
      }
      .map:-ms-fullscreen {
        height: 100%;
      }
      .map:fullscreen {
        height: 100%;
      }
    </style>
    <!-- End added by Tim -->
    
    {{- with $s.customCSS }}
    {{- range . -}}
	  <link rel="stylesheet" href="{{ relURL . }}">
    {{- end }}
    {{- end }}
    {{ partial "hooks/head-end.html" . }}
  </head>
  {{- $maxCodeLines := 100 }}
  {{- with $s.codeMaxLines }}
    {{- $maxCodeLines = . }}
  {{- end }}
  {{- with $p.codeMaxLines }}
    {{- $maxCodeLines = . }}
  {{- end }}
  {{- $codeLineNumbers := false }}
  {{ with $s.codeLineNumbers }}
    {{- $codeLineNumbers = . }}
  {{ end }}
  {{ with $p.codeLineNumbers }}
    {{- $codeLineNumbers = . }}
    {{ else }}
    {{ if eq $p.codeLineNumbers false }}
      {{- $codeLineNumbers = false }}
    {{ end }}
  {{ end }}
  <body data-code="{{ $maxCodeLines }}" data-lines="{{ $codeLineNumbers }}" id="documentTop">
    {{- partial "header" . }}
    <main>
      {{- block "main" . }}{{ end }}
    </main>
    {{- partialCached "icons" . }}
    {{- partialCached "footer" . }}
    <script type="text/javascript" src="{{ $bundle.Permalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous"></script>
    {{- with $s.customJS }}
    {{- range . -}}
    <script type="text/javascript" src="{{ relURL . }}" ></script>
    {{- end }}
    {{- end }}
    {{ partialCached "hooks/body-end.html" . }}
  </body>
</html>
