sphinx
sphinx_rtd_theme
sphinx_copybutton
sphinx_minipres
sphinx_tabs
sphinx_togglebutton>=0.2.0
sphinx-autobuild
#myst_parser[sphinx]
myst_nb>0.8.3
sphinx_rtd_theme_ext_color_contrast
sphinx-material==0.0.34
sphinx-sizzle-theme==0.0.9
