#pagemap a {
  /* Fix map link buttons underline-styling bug */
  text-decoration: none !important;
}
#pagemap {
  /* height: 65vh; */
  /* height: 25vh; */
  height: 95%;
  min-height: 360px;
}
#map-tile {
  height: 75vh;
  min-height: 520px;
}
#map-page-tile {
  min-height: 520px;
}
@media screen and (min-width: 769px) {
  #map-page-tile {
    height: 75vh;
  }
}
#map-sidebar {
  height: 74.2vh;
  overflow: auto;
  min-height: 512px;
}
#map-widgets {
  min-height: 120px;
}
#map-widgets * {
  font-size: 92%;
}
.map-widget {
  height: 100%;
}