{{ define "title" }}
<!-- Title -->
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "main" }}
<style type="text/css" media="screen">
  .page-content p {
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
  }
</style>
<section class="is-large">
  <div class="container">
    <div class="container p-6 card" style="min-height: 60vh;">
      <h1 class="title has-text-centered">{{ .Page.Title }}</h1>
        <h3 class="subtitle has-text-centered pt-4">{{ .Params.Subtitle }}</h1>
        <div class="pl-6 pr-6 has-text-centered page-content">
          {{ .Page.Content }}
          <ul class="menu-list pt-4">
            {{ range.RegularPages }}
            <li>
              <a href="{{ .Permalink }}">
                {{ .Title }}
                <br>
                <span class="is-size-7">
                  {{ .Params.Subtitle }}
                </span>
              </a>
          </li>
            {{ end }}
          </ul>
        </div>
    </div>
  </div>
</section>
{{ end }}